html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*End of Resets*/
body { 
/*    padding-top: 100px; */
}
/*Default Classes*/

.font{
    font-family: 'Montserrat', sans-serif;
    font-size:16px;
    
}
.headerText{
    width:90%;
    font-size:60px;
    margin:0 auto;
    padding-bottom:20px;
    color:white;
    letter-spacing:5px;
    font-weight:bold;
    line-height:80px;
}
.subHeader{
    padding-bottom:20px;
    font-size:20px;
    letter-spacing:5px;
    
    color:white;
}
.btn-head{
    border-radius:2px;
    background-color:#c1272d;
    border:none;
    font-size:18px;
    padding-left:15px;
    padding-right:15px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all ease-in .3s;
}
.btn-head:hover{
    border-radius:2px;
    background-color:#a92327;
    border:none;
    font-size:18px;
}

/*Beginning of Nav styles*/
.navbar-custom{
    margin-bottom:0px;
    height:100px;
    background-color:transparent;
    border:none;
}
.container-fluid{
    width:80%;
}
.custom-container{
    width:80%;
    height:100px;
    padding-top:25px;
}
.custom-fluid{
    width:80%;
}
.custom-logo{
    margin-left:15px;
    
    padding:0px;
    
    
}
#bs-example-navbar-collapse-1 ul li a{
    color:white;
    transition:all ease-in .3s;
}
#bs-example-navbar-collapse-1 ul li a:hover{
    color:#333;
}
.logo{
    width:200px;
    height:50px;
}
/*Beginning jumbotron styles*/

#jumbotron{
    background:url("background.jpg") no-repeat;
    background-size: cover;
   /* height: calc(100vh - 100px); */
    height:100vh;
}
.jumboContent{
    padding-top:30vh;
    text-align:center;
}
/*This is the portfolio styles */
#portfolio{
    margin-bottom:30px;
}
.portImages {
    padding-left:0px;
    padding-right:0px;
}
.portImages > img{
    width:100%;
    height:auto;
    vertical-align: middle;
    
}
#portfolio-intro{
    padding:40px;
   
    background-color:#f6f6f6;
}
#portfolio-intro article > h2{
    font-size:25px;
    color:#a42121;
    font-weight:bold;
    text-align:center;
    
    
}
#portfolio-intro article > h3{
    font-size:20px;
    color:#232323;
    font-weight:lighter;
    text-align:center;
    letter-spacing: 2px;
}
.portfolio-content{
   line-height:50px;
}
#portfolio-intro article > h2::before,
h2::after {
    display: inline-block;
    content: "";
    border-top: 1px solid #a42121;
    width: 20px;
    margin: 1px 10px;
    transform: translateY(-5px);
}

.filterable{
    text-align:center;
    padding:50px;
}
.filterable a{
    padding:10px;
    color:#232323;
    
}
.filterable a:hover{
    
      color:#a42121;
    
}
.filterable a:visited{
    
     text-decoration:none;
    
}
.filterable > .activity{
    color:#a42121;
    font-weight:bold;
}












@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #bs-example-navbar-collapse-1{
    border:none;
        margin-top:17px;
        background-color:#f9f9f9;
    }
    
}
   
}

