
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*End of Resets*/
html { height: 100%; overflow:auto; }
body { height: 100%; }
body, html, .main {
    height: 100%;
}


body { 
/*    padding-top: 100px; */
}
/*Default Classes*/

.font{
    font-family: 'Montserrat', sans-serif;
    font-size:16px;
    
}
.bold{
    font-weight:bolder;
}
.headerText{
    width:90%;
    font-size:60px;
    margin:0 auto;
    padding-bottom:20px;
    color:white;
    letter-spacing:5px;
    font-weight:bold;
    line-height:80px;
}
.subHeader{
    padding-bottom:20px;
    font-size:20px;
    letter-spacing:5px;
    
    color:white;
}
/*
.btn-head{
    border-radius:1px;
    background-color:transparent;
    border:2px solid #c1272d;
    font-size:18px;
    padding-left:15px;
    padding-right:15px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all ease-in .3s;
}
.btn-head:hover{
    border-radius:2px;
    background-color:#a92327;
    border:none;
    font-size:18px;
}
.btn-head:active{
    border-radius:2px;
    background-color:#a92327 !important;
    border:none;
    font-size:18px;
}
*/


/*Beginning of Nav styles*/
.navbar-custom{
    margin-bottom:0px;
    height:80px;
    background-color:transparent;
    border:none;
}
.newCon{
    width:80%;
    margin:0 auto;
}
.custom-container{
    width:80%;
    height:80px;
    padding-top:15px;
}
.custom-fluid{
    width:80%;
}
.custom-logo{
    margin-left:15px;
    
    padding:0px;
    
    
}
.mobile-nav{
   
}
.mobile-nav ul li > a{
    color:white ;
    transition:all ease-in .3s;
}
.navbar-default .navbar-nav>li>a{
     color:white ;
}
.mobile-nav ul li a:hover{
    color:#a92327;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
     color:#a92327;
}
.logo{
    width:200px;
    height:50px;
}

/*Beginning jumbotron styles*/

.jumbotron1{
    background:linear-gradient(
        to right bottom,
        rgba(121, 198, 236, 0.2),
        rgba(25, 127, 179, 0.2)), url("images/background.jpg") no-repeat;
   
background-position:top;
   background-size:cover;
       background-size: cover;
         -webkit-background-size:cover;
         -moz-background-size:cover;
         -o-background-size:cover;
  width: 100%;
 
 
height:100%;
   /* height: calc(100vh - 100px); */
    height:100vh;
}

.jumboContent{
    width:80%;
    padding-top:30vh;
    text-align:center;
 
   
}
/*This is the portfolio styles */
#portfolio{
  
    padding-bottom:30px;
}
.portImages {
    padding-left:0px;
    padding-right:0px;
    font-size:0px;
}
.portImages > img{
    width:100%;
    height:auto;
    display:inline-block;
    vertical-align: middle;
    font-size:0px;
    
}
main{
    position:relative;
    z-index:1;
}
.portfolio-intro{
    
    
      padding:100px 40px;
   
    background-color:#232323;
    
}

.portfolio-intro article > h2{
      font-size:30px;
    color:#fff;
    font-weight:lighter;
    text-align:center;
}
.portfolio-intro article > h3{
    font-size:25px;
    color:#fff;
    font-weight:lighter;
    text-align:center;
    letter-spacing: 2px;
    padding-top:20px;
    line-height:30px;
    
    
}
.contactIntro{
    
      padding:80px 40px;
   
    background-color:#f6f6f6;
    
    
}
.container-services{
    
    width:85%;
    margin:0 auto;
    
}
.contactIntro article > h2{
      font-size:30px;
    color:#232323;
    font-weight:bold;
    text-align:center;
}
.contactIntro article > h3{
    font-size:25px;
    color:#232323;
    font-weight:lighter;
    text-align:center;
    letter-spacing: 2px;
    padding-top:20px;
    line-height:30px;
    
    
}

.contactIntro article > h2::before,
h2::after {
    display: inline-block;
    content: "";
    border-top: 1px solid #a42121;
    width: 20px;
    margin: 1px 10px;
    transform: translateY(-5px);
}





.portfolio-intro article > h2::before,
h2::after {
    display: inline-block;
    content: "";
    border-top: 1px solid #a42121;
    width: 20px;
    margin: 1px 10px;
    transform: translateY(-5px);
}
.filterable  ul > li{
    
    display:inline;
    
}
.filterable{
    text-align:center;
    padding:50px;
}
.filterable > button{
   background-color:transparent;
   border: 2px solid #232323;
    color:#232323;
    border-radius:0px;
    font-weight:bold;
    margin-left:10px;
    margin-right:10px;
    margin-top:20px;
}
.filterable > button:hover{
   background-color:transparent;
   border: 2px solid #a42121;
    color:#a42121;
    border-radius:0px;
}
.filterable > button:focus{
     border: 2px solid #a42121;
     background-color:transparent;
    color:#a42121!important;
    outline:0;
}
.filterable > button:active{
     border: 2px solid #a42121 !important;
     background-color:transparent !important;
     color:#a42121!important;
     outline:0 !important;
}


.filterable > .activity{
    
    font-weight:bold;
    color:#a42121;
    border: 2px solid #a42121;
    outline:0;
    
}


/*Services*/
.backgroundTexture{
    background-image: url("images/backgroundtexture.png");
    background-repeat: repeat;
    
    
}
.services{
    width:100%;
    padding-top:150px;
    padding-bottom:150px;
     
  
}


.serImages{
  
}
.serImages > img{
    width:160px;
    height:auto;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.serImages > div{
    padding-top:30px;
    line-height:35px;
}

.serImages div > h3{
    text-align:center;
}
.serImages div > p{
    font-size:13px;
    text-align:center;
    height:100px;
}
.story{
    width:80%;
    margin:0 auto;
    padding:100px;
}
.story > p{
    line-height:20px;
    letter-spacing:2px;
    text-align:center;
    margin-bottom:20px;
    font-size:16px;
    font-weight:normal;
}
.client{
    margin-bottom:0px !important;
}
.story p > i{
     font-style: italic;
}

.active1{
    color:#c1272d !important ; 
    font-weight:bold !important;
}

.navbar1{
  height:80px;
  transition: all .3s;
  background-color:white;
}

.contact-form{
    
    width:70%;
    margin:0 auto;
    text-align:left;
    padding-top:50px;
    padding-bottom:100px;
   
}

.addMargin1{
    width:49%;
    margin-right:1%;
}
.addMargin2{
    width:49%;
    margin-left:1%;
}
.contact-form > input, select{
    
  
    height:60px;
    border-radius:3px;
    padding:20px;
    border:none;
    margin-bottom:20px;
    background-color: #ddd;
    color: #808080;
    transition:background ease-in .2s;
   
}
.contact-form > textarea:focus{
    background-color:#fff;
     outline:0;
   border:1px solid #e6e6e6;
     color:#333;
   
}
.contact-form > input:focus, select:focus {
    outline:0;
    border:1px solid #e6e6e6;
    background-color:#fff;
    color:#333;
   
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #808080;
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #808080;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #808080;
}
.contact-form button{
     width:30%;
    height:50px;
}
.contact-form > textarea{
  
    height:400px;
    border-radius:3px;
     border:none;
    padding:20px;
    background-color:#ddd;
    transition:background ease-in .2s;
}
.customBtn{
    background-color:#232323;
     border:1px solid #232323;
    transition:all ease-in .1s;
    margin-top:20px;
   
}
.customBtn:hover{
    background-color:#c1272d;
    border:1px solid #c1272d;
}
footer{
    text-align:center;
}
@media only screen and (max-width: 1450px) {
    
    .headerText{
    width:90%;
    font-size:50px;
    margin:0 auto;
    padding-bottom:20px;
    color:white;
    letter-spacing:5px;
    font-weight:bold;
    line-height:80px;
}
.subHeader{
    padding-bottom:20px;
    font-size:20px;
    letter-spacing:5px;
    
    color:white;
}
}
@media only screen and (max-width: 1250px) {
    
    .headerText{
    width:90%;
    font-size:40px;
    margin:0 auto;
    padding-bottom:20px;
    color:white;
    letter-spacing:5px;
    font-weight:bold;
    line-height:80px;
}
.subHeader{
    padding-bottom:20px;
    font-size:20px;
    letter-spacing:5px;
    
    color:white;
}
}
@media only screen and (max-width: 1050px) {
    
    .headerText{
    width:90%;
    font-size:35px;
    margin:0 auto;
    padding-bottom:20px;
    color:white;
    letter-spacing:5px;
    font-weight:bold;
    line-height:80px;
}
.subHeader{
    padding-bottom:20px;
    font-size:15px;
    letter-spacing:5px;
    
    color:white;
}
}
@media only screen and (max-width: 991px) {
    
    .headerText{
    width:90%;
    font-size:35px;
    margin:0 auto;
    padding-bottom:20px;
    color:white;
    letter-spacing:3px;
    font-weight:bold;
    line-height:80px;
}
.subHeader{
    padding-bottom:20px;
    font-size:16px;
    letter-spacing:3px;
    
    color:white;
}
}
@media only screen and (max-width: 861px) {
    .jumboContent{
        width:95%;
        margin:0 auto;
    }
    
    .headerText{
width:100%;
    font-size:35px;
    margin:0 auto;
    padding-bottom:20px;
    color:white;
    letter-spacing:3px;
        text-align:center;
    font-weight:bold;
    line-height:50px;
}
.subHeader{
    width:90%;
    padding-bottom:20px;
    font-size:16px;
    letter-spacing:3px;
    line-height:30px;
   
    color:white;
    margin:0 auto;
}
}
@media only screen and (max-width: 768px) {
    .newCon{
        width:95%;
    }
    .serImages{
        width:50%;
        float:left;
    }
    .filterable{
        width:100%;
        padding:0px;
    }
     .filterable > button:last-child{
        
        margin-bottom:20px;
    }
    
    .portfolio-intro article > h3{
        font-size:20px;
    
    }
    
    .nav-bar-button .icon-bar:nth-of-type(3) {
    top: 1px;
}
    .navbar-toggle .icon-bar:nth-of-type(4) {
  	top: 2px;
}
 .nav-bar-button .icon-bar {
    position: relative;
    transition: all 500ms ease-in-out;
}
     .nav-bar-button.activet .icon-bar:nth-of-type(3) {
   background-color: transparent;
         
}
 .nav-bar-button.activet .icon-bar:nth-of-type(4) {
    
      top: -6px;
    transform: rotate(-45deg);
     
}
 .nav-bar-button.activet .icon-bar:nth-of-type(2) {
      top: 6px;
      transform: rotate(45deg);
   
}

    
       
    .container-fluid{
        width:100%;
    }

    .nav-bar-button{
        z-index:1000;
        border-radius:0px;
        border:none;
        transition: all ease-in .2s;
        background-color:transparent;
    }
    
    
    .navbar-default .navbar-toggle{
        border:none;
        transition: all ease-in .2s;
    }
    .navbar-default .navbar-toggle .icon-bar{
         background-color:#fff;
        transition: all ease-in .2s;
        
    }
    .navbar-default .navbar-toggle > .icon-bar1{
        background-color:#a42121;
    }
    .nav-bar-button:hover .icon-bar{
      
            background-color:#fff;
    
    }
    .nav-bar-button:hover > .icon-bar1{
      
            background-color:#a42121;
    
    }
      .nav-bar-button:hover {
        z-index:1000;
        border-radius:0px;
        border:none;
    
    }
   
    .navbar-default .navbar-toggle:hover{
            border:none;
    }
   
    
    .mobile-nav{
      
        border:none;
        text-align:center;
        overflow:hidden;
        height:100vh;
        width:0%;
        position:absolute;
        top:0px;
        bottom:0px;
        left:0px;
        right:0px;
        padding-top:25vh;
        opacity:1;
        transition:background-color .2s;
        
    }
    .mobile-nav-open{
        
        width:100%;
        background-color:#232323;
       
    }
    
   
    .story{
    width:80%;
    margin:0 auto;
      
    padding-left:20px;
        padding-right:20px;
        
}
    .contactIntro article > h3{
        font-size:20px;
    }
    .addMargin1{
        width:100%;
        margin-right:0px;
    }
     .addMargin2{
        width:100%;
         margin-left:0px;
    }


    .navbar-nav>li>a{
        padding:30px 0px;
        font-size:30px;
    }
    
    
    .navbar-default .navbar-toggle:hover{
        background-color:transparent;
    }
    .navbar-default .navbar-toggle:focus{
        background-color:transparent;
        
    }
}
@media only screen and (max-width: 671px) {
    .jumboContent{
        width:95%;
        margin:0 auto;
    }
    
    .headerText{
width:100%;
    font-size:30px;
    margin:0 auto;
    padding-bottom:20px;
    color:white;
    letter-spacing:3px;
        text-align:center;
    font-weight:bold;
    line-height:50px;
}
.subHeader{
    width:90%;
    padding-bottom:20px;
    font-size:16px;
    letter-spacing:3px;
    line-height:30px;
   
    color:white;
    margin:0 auto;
}
}
@media only screen and (max-width: 570px) {
    .jumboContent{
        width:95%;
        margin:0 auto;
    }
    
    .headerText{
width:100%;
    font-size:25px;
    margin:0 auto;
    padding-bottom:20px;
    color:white;
    letter-spacing:3px;
        text-align:center;
    font-weight:bold;
    line-height:50px;
}
.subHeader{
    width:90%;
    padding-bottom:20px;
    font-size:16px;
    letter-spacing:3px;
    line-height:30px;
   
    color:white;
    margin:0 auto;
}
}



 @media only screen and (max-width: 550px) {
     .services{
         padding-top:40px;
         padding-bottom:40px;
     }
      .newCon{
        width:95%;
    }
    .serImages{
        width:100%;
        float:left;
    }
     .portfolio-intro{
         padding:50px 0px;
     }
     .portfolio-intro article > h3{
         font-size:16px;
     }
     .story > p{
         letter-spacing:0px;
         line-height:30px;
         text-align:justify;
     }
}
 @media only screen and (max-width:470px) {
     .headerText{
         font-size:20px;
     }
     .portfolio-intro article > h3
     .portfolio-intro article > h2{
         font-size:25px;
     }
     .portfolio-intro article > h3{
         font-size:16px;
     }
     
}
 @media only screen and (max-width:370px) {
     .contactIntro article > h2::before,h2::after {
    display: inline-block;
    content: "";
    border-top: none;
    width: 0px;
    margin: 0px 0px;
    transform: translateY(0px);
}
     .portfolio-intro article > h2::before, h2::after{
         display: inline-block;
    content: "";
    border-top: none;
    width: 0px;
    margin: 0px 0px;
    transform: translateY(0px);
     }
}
 @media only screen and (max-width:430px) {
     .portfolio-intro article > h2{
         font-size:20px;
     }
     .portfolio-intro article > h3{
         font-size:16px;
     }
     
}
@media screen and (min-width:1200px) and (max-width:1500px) {
    
  

    

}
@media screen and (min-width:300px) and (max-width:1500px) {
    
   
  

}
@media only screen and (max-width: 615px) {
    .portImages{
        width:101%;
        
    }
    
    
}

